fastapi==0.83.0
uvicorn==0.17.0
sqlalchemy==1.4.54
pydantic==1.9.2
python-dotenv==0.20.0
requests==2.27.1
python-jose==3.3.0
passlib==1.7.4
python-multipart==0.0.5
bcrypt==4.0.1
futu-api
flask==2.0.3
flask-cors==4.0.0
pandas==1.1.5
